# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.pb.gz
*.bundle
*.apk
*.aab

# iOS/macOS
.DS_Store
.history
.svn
DerivedData/
build/
*.mode1v3
*.mode2v3
*.perspectivev3
/ios/Flutter/ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/android/key.properties