version: "3.8"
services:
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
  redis:
    image: redis:alpine
    ports:
      - "6380:6379"
  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password123
